@import "../../styles/variables.scss";

.auth {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .top-bar {
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 108px;
    position: absolute;
    top: 0%;

    .logo-auth {
      gap: 12px;
      font-size: 36px;
      font-weight: 700;
      cursor: pointer;
      color: $color-primary;
    }
  }

  .content {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: center;
    gap: 108px;

    .left-content {
      display: flex;
      flex-direction: column;
      width: 424px;
      justify-content: center;
      gap: 24px;
      color: $color-semi-secundary;
      overflow: hidden;

      .top-login {
        display: flex;
        justify-content: center;

        button {
          border: none;
          padding: 10px 35px;
          border-radius: 0px;
          background: $color-white;
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          font-weight: 600;
          width: 100%;
          color: $color-semi-secundary;
          cursor: pointer;
          transition: 1s;
          border-bottom: 1px solid transparent;
        }

        .active-button {
          color: $color-secundary;
          border-bottom: 1px solid $color-primary;
          transition: 1s;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        transition: transform 1s ease;
        height: 452px;
        position: relative;

        .float-label {
          position: relative;
          padding-top: 16px;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          gap: 12px;

          input {
            display: flex;
            min-width: 180px;
            width: 452px;
            padding: 8px 0px;
            padding-right: 20px;
            color: $color-secundary;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 16px;
            border: none;
            transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            border-bottom: 1px solid $color-semi-secundary;

            &:focus {
              border-bottom: 1px solid $color-primary;
              outline: none;
            }
            &::placeholder {
              color: transparent;
            }

            &:focus + label,
            &:not(:placeholder-shown) + label {
              margin-top: 0px;
              font-size: 12px;
              color: $color-primary;
            }
          }
          label {
            pointer-events: none;
            position: absolute;
            font-weight: 500;
            top: 0;
            left: 0;
            margin-top: 28px;
            transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
          }

          .password-eye {
            display: flex;
            position: absolute;
            right: 0%;
            color: $color-semi-secundary;
            cursor: pointer;
          }

          .error {
            justify-content: start;
            color: $color-red;
            position: absolute;
            top: 56px;
          }
        }

        .conected {
          gap: 8px;
          display: flex;

          input {
            width: 1.3em;
            height: 1.3em;
            border-radius: 50%;
            border: 2px solid #ddd;
            appearance: none;
            -webkit-appearance: none;
            outline: none;
            cursor: pointer;

            &:checked {
              background-color: $color-primary;
            }
          }
        }
        a {
          color: $color-primary;
          text-align: center;
        }
        span {
          font-size: 12px;
          text-align: center;
        }
        button {
          width: 100%;
          border: none;
          padding: 10px 35px;
          border-radius: 48px;
          background: #34baab;
          font-family: Montserrat;
          font-size: 16px;
          font-weight: 400;
          color: $color-white;
          cursor: pointer;

          &:hover {
            background-color: $color-darker;
          }
        }
        &.hidden {
          display: flex;
          max-height: 0;
          opacity: 0;
          overflow: hidden;

          &.login {
            transform: translateX(212px);
          }
          &.register {
            transform: translateX(-212px);
          }
        }
      }
    }

    .right-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px 108px;
      color: $color-semi-secundary;
      text-align: center;
      width: 640px;

      h2 {
        color: $color-secundary;
        line-height: 1;
        font-size: 28px;
      }
    }
  }
}
