$color-primary: #34baab;
$color-secundary: #334e5c;
$color-semi-secundary: rgba(51, 78, 92, 0.6);
$color-brighter: #59e7de;
$color-darker: #227e74;
$color-semi-black: rgba(0, 0, 0, 0.5);
$color-white: #fff;
$color-button-white: #d5f5f1;
