@import "../../styles/variables.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.dashboard {
  background-color: $color-grey-background;
  min-height: 100vh;
  color: $color-secundary;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 40px;

  button {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: $color-secundary;
    border: none;
    display: flex;
    align-items: center;
    background: $color-white;
    font-weight: 500;
  }

  .top-bar {
    height: 100px;
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .top-bar-right {
      position: relative;
    }
    .btn-user-config {
      gap: 24px;
      background: transparent;
      cursor: pointer;
      padding: 4px;
      transition: 0.5s;

      &:hover {
        transition: 0.5s;
        background: $color-low-secundary;
        border-radius: 28px;
      }
    }
  }

  .month-controller {
    position: relative;
  }

  .container {
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 1280px;

    .info-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;

      div {
        .addModal {
          position: absolute;
        }
      }

      .add-controller {
        position: relative;
      }

      .btn-add {
        height: 100px;
        padding: 10px 24px;
        border-radius: 28px;
        box-shadow: 0px 4px 4px 0px $color-shadow-secundary;
        cursor: pointer;
        justify-content: space-between;
        background-color: $color-primary;
        width: 200px;
        transition: 0.5s;

        &:hover {
          transition: 0.5s;
          background: $color-darker;
          border-radius: 28px;
        }
      }

      .btn {
        height: 100px;
        box-shadow: 0px 4px 4px 0px $color-shadow-secundary;
        justify-content: space-between;
        padding: 10px 24px;
        border-radius: 28px;
        width: 340px;

        .info-btn {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;

          .name {
            color: $color-semi-secundary;
            font-weight: 500;
          }

          .amount {
            font-weight: 600;
          }
        }
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 12px;
      h3 {
        color: $color-semi-secundary;
      }

      a {
        color: $color-primary;
        font-weight: 600;
      }

      .box-container {
        display: flex;
        background-color: $color-white;
        flex-direction: column;
        align-items: center;
        padding: 12px 24px;
        gap: 12px;
        border-radius: 28px;
        box-shadow: 0px 4px 4px 0px $color-shadow-secundary;
        .box-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;

          .text {
            font-weight: 500;
            &.sub {
              color: $color-semi-secundary;
            }
          }
        }
        .box-bottom {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;
          hr {
            width: 1220px;
            background: $color-shadow-secundary;
            border: none;
            height: 1px;
          }
        }
      }
    }
  }
}
