@import "styles/variables.scss";

#root {
  margin: 0 auto;
  padding: 0;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@keyframes balance {
  0% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

.general {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: $color-darker;
  flex-direction: column;

  .header {
    background-color: $color-darker;
    width: 1280px;
    justify-content: center;
    padding: 0px 108px;

    .header-container {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        font-weight: 500;
        font-size: 16px;
        border: none;
        border-radius: 28px;
        cursor: pointer;
        color: $color-secundary;
        background: white;
        padding: 8px 16px;
        font-family: "Montserrat", sans-serif;
        transition: 0.4s;

        a {
          display: flex;
          align-items: center;
          gap: 12px;
        }
        &:hover {
          transition: 0.4s;
          background: $color-button-white;
        }
      }
    }

    .logo-container {
      display: flex;
      gap: 12px;
      font-size: 36px;
      font-weight: 700;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        color: $color-primary;
        transition: 0.5s;
        transform: scale(1.1);
      }
    }
  }
  .content-container {
    background-image: linear-gradient(to right, $color-primary, white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .left-content {
      display: flex;
      width: 640px;
      padding: 0px 108px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
      text-shadow: 0px 4px 4px rgba(51, 78, 92, 0.5);

      button {
        display: flex;
        padding: 16px 48px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 48px;
        background: white;
        color: $color-secundary;
        font-size: 20px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
        border: none;
        transition: 0.4s;

        &:hover {
          background: $color-button-white;
          transition: 0.4s;
        }
      }
    }

    .right-content {
      display: flex;
      width: 640px;
      padding: 24px 108px;
      justify-content: center;
      align-items: center;
      position: relative;

      .emoji {
        background: rgba(51, 78, 92, 0.5);
        padding: 12px;
        border-radius: 100%;
        position: absolute;

        &.money {
          left: 15%;
          top: 10%;
          transform: rotate(-20deg);
          font-size: 48px;
          animation: balance 1200ms alternate 600ms infinite;
        }

        &.fire {
          left: 12%;
          bottom: 12%;
          transform: rotate(-15deg);
          font-size: 20px;
        }

        &.face {
          right: 10%;
          bottom: 15%;
          transform: rotate(20deg);
          font-size: 28px;
        }

        &.rocket {
          right: 22%;
          top: 20%;
          transform: rotate(-22deg);
          font-size: 16px;
        }
      }
    }
  }

  .info-container {
    display: flex;
    padding: 24px 0px;
    justify-content: center;
    width: 100%;
    background-color: white;

    .left-content {
      display: flex;
      width: 572px;
      padding: 0px 52px 0px 108px;
      flex-direction: column;
      align-items: center;
    }

    .right-content {
      display: flex;
      width: 708px;
      padding: 0px 108px 0px 0px;
      flex-direction: column;
      gap: 24px;

      hr {
        width: 100%;
        background: rgba(51, 78, 92, 0.2);
        border: none;
        height: 1px;
      }

      h1 {
        color: $color-secundary;
      }
      h2 {
        color: rgba(52, 186, 171, 0.6);
      }
      h3 {
        color: $color-secundary;
      }
      h4 {
        color: $color-secundary;
      }

      .items-content {
        display: flex;
        flex-direction: row;
        gap: 24px;
      }
    }
  }
  .bottom-container {
    background-color: $color-darker;
    width: 1280px;
    padding: 40px 108px;
    gap: 36px;
    display: flex;
    flex-direction: column;
    align-items: start;

    hr {
      width: 100%;
      background: rgba(255, 255, 255, 0.5);
      border: none;
      height: 1px;
      width: 1060px;
    }

    .logo-container {
      gap: 12px;
      font-size: 36px;
      font-weight: 700;
      cursor: pointer;
      display: flex;
      align-self: start;
    }

    .bottom-content {
      display: flex;
      gap: 200px;
      align-self: start;

      h2 {
        font-size: 16px;
      }

      h4 {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
      }

      .bottom {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}

//responsividade
@media (max-width: 1279px) {
  .general {
    display: flex;

    .header {
      padding: 0px 60px;
      width: 100%;
    }

    .content-container {
      padding: 24px 0px;
      gap: 20px;

      .left-content {
        display: flex;
        width: 100%;
        padding: 0px 60px;
        gap: 12px;
        text-align: center;
      }

      .right-content {
        width: 100%;
        padding: 0px 60px;

        .emoji {
          &.money {
            left: 12%;
            top: 10%;
          }

          &.fire {
            left: 5%;
            bottom: 15%;
          }

          &.face {
            right: 8%;
            bottom: 24%;
          }

          &.rocket {
            right: 16%;
            top: 16%;
          }
        }
      }
    }

    .info-container {
      .left-content {
        width: 100%;
        padding: 0px 60px;
      }

      .right-content {
        width: 100%;
        padding: 0px 60px;

        .items-content {
          gap: 16px;
          align-self: start;
        }
      }
    }

    .bottom-container {
      width: 100%;
      padding: 20px 60px;
      gap: 12px;

      hr {
        width: 100%;
      }

      .bottom-content {
        display: flex;
        gap: 100px;

        .bottom {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .general {
    display: flex;

    .header {
      padding: 0px 20px;
      width: 100%;

      .header-container {
        button {
          font-size: 0px;
          border-radius: 28px;
          color: $color-secundary;
          gap: 0px;
          a {
            gap: 0px;
          }
        }
      }

      .logo-container {
        font-size: 0px;
        gap: 0px;
      }
    }

    .content-container {
      background-image: linear-gradient(
        to right,
        $color-primary,
        $color-brighter
      );
      padding: 24px 0px;
      flex-direction: column;
      gap: 20px;

      .left-content {
        display: flex;
        width: 100%;
        padding: 0px 24px;
        gap: 12px;
        text-align: center;
      }

      .right-content {
        width: 100%;
        padding: 0px 24px;

        .emoji {
          &.money {
            left: 22%;
            top: 10%;
          }

          &.fire {
            left: 15%;
            bottom: 25%;
          }

          &.face {
            right: 15%;
            bottom: 33%;
          }

          &.rocket {
            right: 26%;
            top: 20%;
          }
        }
      }
    }

    .info-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .left-content {
        width: 100%;
        object-fit: scale-down;
        padding: 0px 24px;
        align-items: center;
        position: relative;
      }

      .right-content {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0px 24px;

        h1 {
          text-align: center;
        }
        h2 {
          text-align: center;
        }

        .items-content {
          gap: 16px;
          align-self: start;
        }
      }
    }

    .bottom-container {
      width: 100%;
      padding: 20px 24px;
      gap: 12px;

      hr {
        width: 100%;
      }

      .bottom-content {
        display: flex;
        padding-left: 0px;

        h2 {
          font-size: 16px;
        }

        h4 {
          font-size: 12px;
        }

        .bottom {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .general {
    .content-container {
      .right-content {
        .emoji {
          &.money {
            left: 8%;
            top: 10%;
          }

          &.fire {
            left: 5%;
            bottom: 25%;
          }

          &.face {
            right: 5%;
            bottom: 33%;
          }

          &.rocket {
            right: 12%;
            top: 20%;
          }
        }
      }
    }
  }
}
