@import "styles/variables.scss";

#root {
  margin: 0 auto;
  padding: 0;
  h1 {
    font-size: 48px;
    font-weight: 700;
  }
  
  h2 {
    font-size: 44px;
    font-weight: 600;
  }

  h3 {
    font-size: 24px;
    font-weight: 500;
  }
  
  h4 {
    font-size: 16px;
    font-weight: 400;
  }
}

@keyframes balance {
  0% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  .header{
    background-color: #227E74;
    width: 100%;
    padding: 0px 108px;

    .header-container{
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button{
        background-color: transparent;
        font-weight: 500;
        font-size: 16px;
        border: none;
        border-radius: 28px;
        cursor: pointer;
        overflow: hidden;
        color: $color-secundary;
        background: white;
        transition: display 500ms;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding: 8px 16px;
        font-family: 'Montserrat', sans-serif;
    }
  }

  .logo-container {
    display: flex;
    align-items: start;
    gap: 12px;
    font-size:36px ;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      color: $color-primary;
      transition: 0.5s; 
      transform: scale(1.1);
    }
    
  }
}
  .content-container {
    background-image: linear-gradient(to right, $color-primary , white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 424px;
    align-self: stretch;

    .left-content {
      display: flex;
      width: 640px;
      padding: 0px 108px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
      
      button {
        display: flex;
        padding: 16px 48px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 48px;
        background: white;
        color: $color-secundary;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        border: none;
      }
    }

    .right-content {
      display: flex;
      width: 640px;
      padding: 0px 108px;
      justify-content: center;
      align-items: center;

      .emoji {
        background: rgba(51, 78, 92, 0.5);
        padding: 12px;
        border-radius: 100%;
        position: absolute;

        &.money {
          left: 55%;
          top: 20%;
          transform: rotate(-20deg);
          font-size: 48px;
          animation: balance 1200ms alternate 600ms infinite;
        }

        &.fire {
          left: 52%;
          bottom: 22%;
          transform: rotate(-15deg);
          font-size: 20px;
        }

        &.face {
          right: 20%;
          bottom: 25%;
          transform: rotate(20deg);
          font-size: 28px;
        }

        &.rocket {
          right: 22%;
          top: 30%;
          transform: rotate(-22deg);
          font-size: 16px;
        }
      }
    }
  }

  .info-container {
    display: flex;
    padding: 24px 0px;
    justify-content: flex-end;
    align-items: center;
    width: 1280px;

    .left-content {
      display:flex;
      width: 572px;
      padding: 0px 0px 0px 108px;
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;
      gap: 20px;
    }

    .right-content {
      display: flex;
      width: 708px;
      padding: 0px 108px 0px 0px;
      flex-direction: column;
      justify-content: right;
      align-items: flex-start;
      gap: 20px;

      h1 {
        color: $color-secundary;
      }
      h2 {
        color: rgba(52, 186, 171, 0.60);
      }
    }
  }
}